html {
	font-family: serif;

	font-weight: normal;
	font-style: normal;
}

details td a img {
	float:right;
	text-align: center;
	word-break: keep-all;
	display: block;
}

body {
	background-image: url(/img/96b2bb55c8ec2103cd1f1f8255f189b8.jpg);
	-webkit-animation-name: example; 
	
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
	
	background-attachment: fixed;
	padding-top: 0px;
	background-size: cover;
}
@-webkit-keyframes example {
    from {background-image: url(/img/HlmWDMU.jpg);}
    to {background-image: url(/img/96b2bb55c8ec2103cd1f1f8255f189b8.jpg);}
}

/* Standard syntax */
@keyframes example {
    from {background-image: url(/img/HlmWDMU.jpg);}
    to {background-image: url(/img/96b2bb55c8ec2103cd1f1f8255f189b8.jpg);}
}
img {
	border: 8px solid black;
	border-radius: 0.8rem;
}

#special {
	padding-top: 0px;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	width: 95%;
}
tbody{
	
	
}

table caption {
	
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 50px;
	background-color: rgba(8, 8, 8, 0.8);
	color: beige;
	font-weight: bold;

	
	word-break: break-all;
}

table td {
	padding-bottom: 5%;

	padding-right: 1%;
	padding-left: 1%;

	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(8, 8, 8, 0.8);
}

table td a {
	color: dodgerblue;

}

table td p {
	text-align: left;
	font-weight: 10;
	color: white;
	font-size: 18px;

}

table td a:hover {
	color: darkred;
	;
}

table td a:focus {
	color: darkred;
	;
}
